# Example database configuration. Copy this file and save it as
# config/database.yml, then (re)start your rails server.
development:
  adapter: sqlite3
  database: db/development.sqlite3

production:
  adapter: postgresql
  encoding: unicode
  database: diffux_production
  pool: 5
  username: admin
  password: fotmuhtdxv
  host: 10.230.32.216
  port: 5432